/*src/app/globals.css*/
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


/* Variables CSS */
:root {
  --violeta:   #1C163E;
  --morado:    #743596;
  --gris:      #AAB1BF;
  --rosa:     #AC80C6;
}